<script type="text/javascript">
  $(document).ready(function () {
    var jid = new Array();

    $("#member_token").tokenInput("/invite/invite_chat.json", {
      crossDomain: false,
      theme: 'facebook',
      preventDuplicates: true,
      searchDelay: 200,
      hintText: "<%= t('invite_people.users.hint') %>",
      noResultsText: "<%= t('invite_people.users.no_results') %>",
      searchingText: "<%= t('invite_people.users.searching') %>",
      onAdd: function(item){
        jid.push(item.id + "@chat-bottin.no-ip.info");
      },
      onDelete: function(item){
        jid.splice(jid.indexOf(item.id + "@chat-bottin.no-ip.info"),1);
      },
      onResult: function(result){
        var results = result;
        var iten = 0;
        $.each(result, function(index){
          var login = result[index-iten].id.replace(" ","-") + "-chat-bottin-no-ip-info";
          if(!$("#"+login).hasClass("online")){
            results.splice(index-iten,1);
            iten = iten + 1;
          }
        });
        return results;
      }
    });

    $("#submit").click(function(){
      $(document).trigger('send_bbb', {jid: jid, msg: "<%= @invite_bbb.html_safe %>"});
      $.fancybox.close();
    });
  });
</script>

<h3 class="dialog_title"><%=t('chat.invite.bbb')%></h3>

<div>
  <%= label_tag :member_token, t('chat.name.one') %>
  <spam class="tip">(<%= t('invite_people.names_tip') %>)</spam><br/>
  <%= text_field_tag 'member_token' %>
</div>

<br><br><br>
<div class="submit float_right">
  <button id="submit" type="submit" class="basic_button pale_button">
    <%=t('chat.invite.button')%>
  </button>
</div>
